
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --fonte-primaria:'Krona One';
    --fonte-secondaria: 'Montserrat'; 
}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.cabecalho{
    font-family: var(--fonte-primaria);
    color: aqua;
    padding: 2% 0% 0% 12.5%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__item{
    color: aqua;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    transition: .5s;
    border-radius: 20px;
}
.cabecalho__menu__item:hover{
    background-color: aqua;
    color: black;
    transform: scale(90%);
}
.apresentacao{
    display: flex;
    color: aqua;
    padding: 8% 12.5%;
    gap: 82px;
    justify-content: space-between;
    align-items: center;
}
.apresentacao__img{
    border: 2px solid aqua;
    border-radius: 100%;
    width: 100%;
}
.apresentacao__texto{
    font-family: var(--fonte-secondaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.moldura__img{
    width: 50%;
}
.moldura__texto{
    width: 50%;
}
.apresentacao__titulo{
    font-family: var(--fonte-primaria);
}
.apresentacao__texto__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__texto__links__botoes{
    border: 2px solid aqua;
    border-radius: 8px;
    color: aqua;
    display: flex;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    gap: 16px;
    justify-content: center;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
    transition: .2s;
}
.apresentacao__texto__links__texto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__texto__links__botoes:hover{
    background-color: aqua;
    color: black;    
    transform: scale(90%);
    transition: 0,5s;
}
.rodape{
    
    background-color: aqua;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
    
}
.rodape__texto{
    font-family: var(--fonte-secondaria);
    font-size:1.5rem;
    font-weight: 400;
}